*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.login{
  margin-top: 0px;
  background: url('../Imagenes/Vector.png') no-repeat, url('../Imagenes/Vector1.png') no-repeat;
  background-size: contain;
  font-family: Arial, Helvetica, sans-serif !important;
}

.bg{
  background-image: url(../Imagenes/fondo.jpg);
  background-position: center center;
}

.btn-login{
  background:#e9e9ff !important;
  color: #046cbb !important;
}

.btn-inicio-sesion{
  background:#046cbb !important ;
  color: white !important;
}